* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #70c4ce;
}

canvas {
  border: 7px solid #fff;
}

#app {
  width: 700px;
  height: 400px;
  position: relative;
}

#app > h1.winNum {
  top: 10px;
  left: 30px;
  position: absolute;
  font-size: 30px;
  z-index: 10;
  color: #fff;
}

#app .loading {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 7px solid #fff;
}

.hpBar {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 160px;
}

.hpBar > h2 {
  color: #000;
  text-shadow: 1px 1px 0px #fff;
  float: left;
}

.hpBox {
  width: 100px;
  height: 15px;
  border: 4px solid #000;
  float: right;
  background-color: #fff;
}

.hpBox > .hp {
  width: 100%;
  height: 100%;
  background-color: #fea14a;
}

.over {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.over > .box {
  width: 371px;
}

.over > div > a {
  display: block;
  cursor: pointer;
  width: 100px;
  margin: 20px auto 0 auto;
}

.over > div > a > img {
  display: block;
  width: 100%;
  height: auto;
}

a.gamePlayBtn {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  width: 180px;
  height: 51px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
